/*-- scss:defaults --*/
// Base document colors
$body-bg: rgb(24, 24, 24);
$body-color: rgb(177, 175, 175);
$link-color: #8f8f8f;

$navbar-bg: $body-bg;

$navbar-hl: turquoise;
$sidebar-hl: $navbar-hl;
$sidebar-fg: $navbar-hl;
$toc-active-border: $navbar-hl;
$toc-color:  $navbar-hl; 

// Code blocks
$code-block-bg-alpha: -.8;


//.ai-lg,
//.btn-xs,
//.btn-outline-secondary, ?? does not change much
//.btn-light 

.ai-lg{color:rgba(35, 123, 114, 0.7);}



.bi-butterfly::before {
    content: ""; /* Clear the default content */
    display: inline-block; /* Make it an inline block */
    width: 16px; /* Set the desired width for your icon */
    height: 16px; /* Set the desired height for your icon */
    background-image: url('img/blueskyicon.png'); /* Specify the path to your PNG image */
    background-size: cover; /* Adjust the background size as needed */
    
    /* Define custom CSS variables */
    --brightness: 175%;
    --grayscale: 100%;

    /* Apply filter properties using custom variables */
    filter: 
        brightness(var(--brightness))
        grayscale(var(--grayscale));
}


